<h1>Users</h1>
<br />
<form action="/updateRoles" method="post">
  <table>

    <tr>
      <th>Username</th>
      <th>Role</th>
    </tr>
    {{#each users}}
    <tr>
      <td>{{this.username}}<td>
      <td>
        <select name="{{this.id}}">
          {{#each this.roles}}
            <option value="{{ this.id }}" {{#if this.selected}}selected{{/if}} >{{this.name}}</option>
          {{/each}}
        </select>
      <td>
    </tr>
    {{/each}}
  </table>
  <button type="submit">Submit</button>
</form>