{{#if flashes}}
  {{ flashes }}
{{/if}}
<form action="/{{ action }}" method="post">
  Username: <input type="text" name="username"/>
  <br/>
  Password: <input type="password" name="password"/>
  <br/>
  <button type="submit">{{ buttonText }}</button>
</form>
<br/>
<br/>
<a href="/loginGithub">
  <button class="btn btn-sm btn-primary">
    Login with Github
    <img style="height:35px; width:35px" src="https://upload.wikimedia.org/wikipedia/commons/e/eb/Ei-sc-github.svg" />
  </button>
</a>
