<h1>Savings Calculator</h1>

<form action="/calculateResults" method="post">
  Amount: <input type="number" name="amount" />
  <br/>
  Rate: <input type="number" name="rate" />
  <br/>
  Years: <input type="number" name="years" />
  <br/>
  <button type="submit">Calculate</button>
</form>
